html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Helvetica', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Helvetica';
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.container {
  background-color: #FEFFE5;
  width: 1024px;
  height: 1024px;
  margin: 0 auto;
}
.info {
  margin: auto 0;
  box-sizing: border-box;
  border: 15px solid #000E33;
  border-radius: 25px;
  margin-left: 5%;
  margin-top: -4%;
  height: 855px;
  width: 915px;
  padding-bottom: 50%;
}
body {
  background-color: #FEFFE5;
}
.top-nav {
  margin-top: -10%;
  padding-top: 1%;
}
nav {
  display: flex;
  justify-content: center;
  margin-right: -55%;
  margin-bottom: -3%;
}
nav a {
  text-decoration: none;
  height: 34px;
  width: 100px;
  color: #252525;
  font-family: Helvetica;
  font-size: 1.5rem;
  line-height: 34px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10%;
}
.logo {
  justify-content: flex-start;
  margin-left: 8%;
  padding-top: -20%;
}
.header {
  display: flex;
  justify-content: center;
  margin-left: -10%;
  margin-top: 3%;
}
.sign {
  width: 473px;
  font-size: 1.9rem;
  margin-left: 10%;
  font-weight: bold;
  margin-top: 10%;
}
.button {
  margin-left: 20%;
  background-color: #0036CC;
  color: white;
  height: 61px;
  width: 346px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 30px;
}
.toprow {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-left: -2%;
}
.middlerow {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
  margin-left: -4%;
}
.bottomrow {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
}
.box {
  height: 95px;
  width: 206px;
  background-color: #000E33;
  color: #FFFFE3;
  font-size: 1rem;
  line-height: 34px;
}
h4 {
  color: #FFFFE3;
  font-size: 1.6rem;
  line-height: 34px;
  padding-left: 8%;
  padding-top: 5%;
}
.yes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
h5 {
  margin-right: 10%;
  font-size: 2rem;
}
.toprow h5 {
  margin-left: -25%;
}
.toparrow {
  margin-left: -2%;
}
.middlearrow {
  margin-left: -4%;
}
.middlerow h5 {
  margin-left: -47%;
}
.bottomrow h5 {
  margin-left: -15%;
}
.answerone {
  height: 48px;
  width: 144px;
  font-size: 1.2rem;
  line-height: 24px;
}
.answertwo {
  height: 48px;
  width: 108px;
  font-size: 1.2rem;
  line-height: 24px;
}
.answerthree {
  height: 48px;
  width: 165px;
  font-size: 1.2rem;
  line-height: 24px;
}
.signtwo {
  width: 473px;
  font-size: 1.9rem;
  margin-left: 10%;
  font-weight: bold;
  margin-top: 1%;
}
.rayven {
  display: flex;
  justify-content: space-between;
}
.rayvenpic {
  width: 10%;
  margin-right: 5%;
  margin-left: 10%;
}
.rayven p {
  display: flex;
  flex-flow: wrap;
  margin-top: 2%;
  font-size: 1.2rem;
}
