
.info{
    margin: auto 0;
    box-sizing: border-box;	
    border: 15px solid #000E33;	
    border-radius: 25px;
    margin-left: 5%;
    margin-top: -4%;
    // height: 800px;	
    width: 800px;
    padding-bottom: 50%;
}
body{
    background-color: #FEFFE5;
}

.top-nav{
    margin-top: -10%;
    padding-top: 1%;
}
nav{
    display: flex;
    justify-content: center;
    margin-right: -30%;
    margin-bottom: -3%;
  
}

nav a{
    text-decoration: none;
    height: 34px;	
    width: 100px;	
    color: #252525;	
    font-family: Helvetica;	
    font-size: 1.5rem;	
    line-height: 34px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
    
}

.logo{
    justify-content: flex-start;
   margin-left: 8%;
   padding-top: -20%;
  
} 